{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Biu BiuStreams</title>
    <link rel ="stylesheet" href="{% static '/css/baseForm.css'%}">
</head>
<body>
    <!-- Cabeçalho -->
    <header class="header">
        
        <a href='{% url 'home-videos' %}'><img src="{% static 'images/biu.png' %}" alt="BiuStreams" class="logo"></a>
    </header>

    {% block content %}
    {% endblock content %}

    <!-- Rodapé -->
    <footer class="footer">
        <p>&copy; 2024 BiuStreams, Inc.</p>
     </footer>
</body>
 </html>